RewriteEngine On

# Jika permintaan tidak mengarah ke folder public
RewriteCond %{REQUEST_URI} !^/public

# Kecualikan jika file atau foldernya benar-benar ada (biar tidak konflik)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect ke /public + path
RewriteRule ^(.*)$ /public/$1 [L,R=301]
